# ML
langchain==0.1.16
langchain_community
langchain_openai
langchain_text_splitters
openai
tiktoken

# Parsing
htmlmin
requests
beautifulsoup4
lxml
selenium==4.9.1
webdriver-manager

# Data
numpy==1.26.4
pandas
openpyxl
tabulate

# Others
python-dotenv
tqdm
retry
Pillow
pydantic

# CLI
appdirs
click
