# Parsing
htmlmin
requests
beautifulsoup4
lxml
selenium==4.9.1
webdriver-manager

# ML
openai
tiktoken
langchain
langchain_community
langchain_openai
langchain_text_splitters

# Data
numpy
pandas
openpyxl
tabulate

# Others
python-dotenv
tqdm
retry
Pillow
pydantic
click
