# ML
packaging==23.2
langchain==0.2.12
langchain-core==0.2.28
langchain_community==0.2.11
langchain_openai==0.1.20
langchain_text_splitters==0.2.2
openai==1.37.1
tiktoken==0.7.0

# Parsing
htmlmin
requests
beautifulsoup4
lxml>=5.0.0
selenium==4.9.1
webdriver-manager

# Data
numpy==1.26.4
pandas
openpyxl
tabulate

# Others
python-dotenv
tqdm
retry
Pillow
pydantic

# CLI
appdirs
click
